__pycache__
TODO.*
.hg*
*.pyc
.coverage
.cache
docs/.ipynb*
docs/_static
docs/_templates
docs/_build
dev
build
cover
htmlcov
dist
pandarus.egg-info
MANIFEST
Icon*
.cache
tests/data/test-data.qgs
*.log
